<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">

	<display-name>BandeiraBR</display-name>
	<description>
		BandeiraBR
	</description>

	<servlet>
		<servlet-name>ProductSetList</servlet-name>
		<servlet-class>bandeira.servlet.product.ProductSetListServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProductSetList</servlet-name>
		<url-pattern>/productset/list</url-pattern>
		<url-pattern>/productset/list.json</url-pattern>
		<url-pattern>/productset/list.xml</url-pattern>
		<url-pattern>/productset/list.bin</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ProductSetListHash</servlet-name>
		<servlet-class>bandeira.servlet.product.ProductSetListHashServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProductSetListHash</servlet-name>
		<url-pattern>/productset/list.hash</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ProductSetAtList</servlet-name>
		<servlet-class>bandeira.servlet.product.ProductSetAtListServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProductSetAtList</servlet-name>
		<url-pattern>/productset/list_at</url-pattern>
		<url-pattern>/productset/list_at.json</url-pattern>
		<url-pattern>/productset/list_at.xml</url-pattern>
		<url-pattern>/productset/list_at.bin</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ProductSetAtListHash</servlet-name>
		<servlet-class>bandeira.servlet.product.ProductSetAtListHashServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProductSetAtListHash</servlet-name>
		<url-pattern>/productset/list_at.hash</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ProductList</servlet-name>
		<servlet-class>bandeira.servlet.product.ProductListServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProductList</servlet-name>
		<url-pattern>/product/list</url-pattern>
		<url-pattern>/product/list.json</url-pattern>
		<url-pattern>/product/list.xml</url-pattern>
		<url-pattern>/product/list.bin</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ProductListHash</servlet-name>
		<servlet-class>bandeira.servlet.product.ProductListHashServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProductListHash</servlet-name>
		<url-pattern>/product/list.hash</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ProductSetWithProductList</servlet-name>
		<servlet-class>bandeira.servlet.product.ProductSetWithProductListServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProductSetWithProductList</servlet-name>
		<url-pattern>/productset/product</url-pattern>
		<url-pattern>/productset/product.json</url-pattern>
		<url-pattern>/productset/product.xml</url-pattern>
		<url-pattern>/productset/product.bin</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ProductSetWithProductListHash</servlet-name>
		<servlet-class>bandeira.servlet.product.ProductSetWithProductListHashServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProductSetWithProductListHash</servlet-name>
		<url-pattern>/productset/product.hash</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ProductSetWithProductDate</servlet-name>
		<servlet-class>bandeira.servlet.product.ProductSetWithProductDateServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProductSetWithProductDate</servlet-name>
		<url-pattern>/productset/product_at</url-pattern>
		<url-pattern>/productset/product_at.json</url-pattern>
		<url-pattern>/productset/product_at.xml</url-pattern>
		<url-pattern>/productset/product_at.bin</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ProductSetWithProductDateHash</servlet-name>
		<servlet-class>bandeira.servlet.product.ProductSetWithProductDateHashServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProductSetWithProductDateHash</servlet-name>
		<url-pattern>/productset/product_at.hash</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ProductSetWithProductSetList</servlet-name>
		<servlet-class>bandeira.servlet.product.ProductSetWithProductSetListServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProductSetWithProductSetList</servlet-name>
		<url-pattern>/productset/productset</url-pattern>
		<url-pattern>/productset/productset.json</url-pattern>
		<url-pattern>/productset/productset.xml</url-pattern>
		<url-pattern>/productset/productset.bin</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ProductSetWithProductSetListHash</servlet-name>
		<servlet-class>bandeira.servlet.product.ProductSetWithProductSetListHashServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProductSetWithProductSetListHash</servlet-name>
		<url-pattern>/productset/productset.hash</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ProductSetWithProductSetDate</servlet-name>
		<servlet-class>bandeira.servlet.product.ProductSetWithProductSetDateServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProductSetWithProductSetDate</servlet-name>
		<url-pattern>/productset/productset_at</url-pattern>
		<url-pattern>/productset/productset_at.json</url-pattern>
		<url-pattern>/productset/productset_at.xml</url-pattern>
		<url-pattern>/productset/productset_at.bin</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ProductSetWithProductSetDateHash</servlet-name>
		<servlet-class>bandeira.servlet.product.ProductSetWithProductSetDateHashServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProductSetWithProductSetDateHash</servlet-name>
		<url-pattern>/productset/productset_at.hash</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ProductSetClassList</servlet-name>
		<servlet-class>bandeira.servlet.product.ProductSetClassListServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProductSetClassList</servlet-name>
		<url-pattern>/productset/class</url-pattern>
		<url-pattern>/productset/class.json</url-pattern>
		<url-pattern>/productset/class.xml</url-pattern>
		<url-pattern>/productset/class.bin</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ProductSetClassListHash</servlet-name>
		<servlet-class>bandeira.servlet.product.ProductSetClassListHashServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProductSetClassListHash</servlet-name>
		<url-pattern>/productset/class.hash</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ProductSetClassDate</servlet-name>
		<servlet-class>bandeira.servlet.product.ProductSetClassDateServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProductSetClassDate</servlet-name>
		<url-pattern>/productset/class_at</url-pattern>
		<url-pattern>/productset/class_at.json</url-pattern>
		<url-pattern>/productset/class_at.xml</url-pattern>
		<url-pattern>/productset/class_at.bin</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ProductSetClassDateHash</servlet-name>
		<servlet-class>bandeira.servlet.product.ProductSetClassDateHashServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProductSetClassDateHash</servlet-name>
		<url-pattern>/productset/class_at.hash</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>PointSetWithPointList</servlet-name>
		<servlet-class>bandeira.servlet.point.PointSetWithPointListServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PointSetWithPointList</servlet-name>
		<url-pattern>/pointset/point</url-pattern>
		<url-pattern>/pointset/point.json</url-pattern>
		<url-pattern>/pointset/point.xml</url-pattern>
		<url-pattern>/pointset/point.bin</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>PointSetWithPointListHash</servlet-name>
		<servlet-class>bandeira.servlet.point.PointSetWithPointListHashServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PointSetWithPointListHash</servlet-name>
		<url-pattern>/pointset/point.hash</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>PointSetWithPointDate</servlet-name>
		<servlet-class>bandeira.servlet.point.PointSetWithPointDateServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PointSetWithPointDate</servlet-name>
		<url-pattern>/pointset/point_at</url-pattern>
		<url-pattern>/pointset/point_at.json</url-pattern>
		<url-pattern>/pointset/point_at.xml</url-pattern>
		<url-pattern>/pointset/point_at.bin</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>PointSetWithPointDateHash</servlet-name>
		<servlet-class>bandeira.servlet.point.PointSetWithPointDateHashServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PointSetWithPointDateHash</servlet-name>
		<url-pattern>/pointset/point_at.hash</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>PointSetWithPointSetList</servlet-name>
		<servlet-class>bandeira.servlet.point.PointSetWithPointSetListServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PointSetWithPointSetList</servlet-name>
		<url-pattern>/pointset/pointset</url-pattern>
		<url-pattern>/pointset/pointset.json</url-pattern>
		<url-pattern>/pointset/pointset.xml</url-pattern>
		<url-pattern>/pointset/pointset.bin</url-pattern>
		<url-pattern>/pointset/pointset.hash</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>PointSetWithPointSetListHash</servlet-name>
		<servlet-class>bandeira.servlet.point.PointSetWithPointSetListHashServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PointSetWithPointSetListHash</servlet-name>
		<url-pattern>/pointset/pointset.hash</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>PointSetWithPointSetDate</servlet-name>
		<servlet-class>bandeira.servlet.point.PointSetWithPointSetDateServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PointSetWithPointSetDate</servlet-name>
		<url-pattern>/pointset/pointset_at</url-pattern>
		<url-pattern>/pointset/pointset_at.json</url-pattern>
		<url-pattern>/pointset/pointset_at.xml</url-pattern>
		<url-pattern>/pointset/pointset_at.bin</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>PointSetWithPointSetDateHash</servlet-name>
		<servlet-class>bandeira.servlet.point.PointSetWithPointSetDateHashServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PointSetWithPointSetDateHash</servlet-name>
		<url-pattern>/pointset/pointset_at.hash</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>PointList</servlet-name>
		<servlet-class>bandeira.servlet.point.PointListServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PointList</servlet-name>
		<url-pattern>/point/list</url-pattern>
		<url-pattern>/point/list.json</url-pattern>
		<url-pattern>/point/list.xml</url-pattern>
		<url-pattern>/point/list.bin</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>PointListHash</servlet-name>
		<servlet-class>bandeira.servlet.point.PointListHashServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PointListHash</servlet-name>
		<url-pattern>/point/list.hash</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>PointSetList</servlet-name>
		<servlet-class>bandeira.servlet.point.PointSetListServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PointSetList</servlet-name>
		<url-pattern>/pointset/list</url-pattern>
		<url-pattern>/pointset/list.json</url-pattern>
		<url-pattern>/pointset/list.xml</url-pattern>
		<url-pattern>/pointset/list.bin</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>PointSetListHash</servlet-name>
		<servlet-class>bandeira.servlet.point.PointSetListHashServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PointSetListHash</servlet-name>
		<url-pattern>/pointset/list.hash</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>PointSetAtList</servlet-name>
		<servlet-class>bandeira.servlet.point.PointSetAtListServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PointSetAtList</servlet-name>
		<url-pattern>/pointset/list_at</url-pattern>
		<url-pattern>/pointset/list_at.json</url-pattern>
		<url-pattern>/pointset/list_at.xml</url-pattern>
		<url-pattern>/pointset/list_at.bin</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>PointSetAtListHash</servlet-name>
		<servlet-class>bandeira.servlet.point.PointSetAtListHashServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PointSetAtListHash</servlet-name>
		<url-pattern>/pointset/list_at.hash</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>ViewList</servlet-name>
		<servlet-class>bandeira.servlet.view.ViewListServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ViewList</servlet-name>
		<url-pattern>/view/list</url-pattern>
		<url-pattern>/view/list.json</url-pattern>
		<url-pattern>/view/list.xml</url-pattern>
		<url-pattern>/view/list.bin</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ViewListHash</servlet-name>
		<servlet-class>bandeira.servlet.view.ViewListHashServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ViewListHash</servlet-name>
		<url-pattern>/view/list.hash</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ScenariumOpen</servlet-name>
		<servlet-class>bandeira.servlet.scenarium.ScenariumOpenServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ScenariumOpen</servlet-name>
		<url-pattern>/scenarium/open</url-pattern>
		<url-pattern>/scenarium/open.json</url-pattern>
		<url-pattern>/scenarium/open.xml</url-pattern>
		<url-pattern>/scenarium/open.bin</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ScenariumOpenHash</servlet-name>
		<servlet-class>bandeira.servlet.scenarium.ScenariumOpenHashServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ScenariumOpenHash</servlet-name>
		<url-pattern>/scenarium/open.hash</url-pattern>
	</servlet-mapping>

</web-app>
